apiVersion: v1
kind: Service
metadata:
  labels:
    app: FIXME_APP_NAME
  name: FIXME_APP_NAME
  namespace: FIXME_APP_NAME
spec:
  ports:
  - name: web
    port: 80
    protocol: TCP
    targetPort: FIXME_PORT
  selector:
    app: FIXME_APP_NAME
  type: LoadBalancer
